	/*HTML*/
	html{
		width: 100%;
		height: 100%;
	}


	/*DEFINIÇÕES DO CORPO TODO*/
	body{
		background-color: #e6e6e6;
		height: 100%;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		word-wrap: break-word;
	}

	/*ROW*/
	.row{
		
		padding: 5px;

	}

	/*CONTAINER DEFINIÇÕES*/

	.container-fluid{
		padding: 20px;
	}


	/*LOGO*/
	#logoSite{
		width:  150px;
		height: 100px;
	}



	/*DESCRIÇÃO EM BAIXO DA FOTO*/
	#embaixoAnuncio3{
		color: black;
		font-size: 20px;
		width: 35%;
		font-size: 18px;
		margin-left: auto;

	}


	/*TAMANHO DA FOTO DO CENTRO (A QUE ALTERA)*/
	#rolagem{
		height: 450px;
		width: auto;
		border-radius:4px;

	}


	/*TEXTO EM CIMA DA FOTO*/
	#nomerepublica{
		color: white;
		font-size: 20px;
		background-color: #347AB6;
		margin-left: auto;

	}


	/*DIVI DA DESCRIÇÃO*/
	#descricao{
		width: 250px;
		height: auto;
		margin-right: 70px;
		margin-left: 12px;
		font-size: 18px;
		
	}


	/*BOTOES DIREÇÕES*/
	#botaoesquerda{
		width: auto;
		height: auto;
	}
	#botaodireita{
		width: auto;
		height: auto;
	}

	#foto{
		height: 450px;
		width: 800px;
	}