/*BODY*/
body{
    /*SEM BACKGROUND*/
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;

}


/*LOGO*/
img#logoSite{

    width: 150px;
}


a#textoResultados{  /*EXBINDO RESULTADOS PARA XXX */
    font-family: optima;
    font-size: 23px;
    color: white;
}

/*DIVFILTRO*/


div#divFiltro {

    background-color: white;
    float: left;
    border: 3px solid black; 
    border-radius:12px;
    width: 220px;

    margin-left: 10px;

}


div#divFiltro ul#ulFiltrocidade a#afiltroFormiga { /*FILTRO DE FORMIGA ID*/
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 130px;

}
div#divFiltro ul#ulFiltropreco a#afiltroPreco { /*FILTRO DE 150 A 300 ID*/
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

} 


/*DIV001*/

div#divAnuncio001 { /*ESTE É O DIVI ONDE SERÁ ALTERADA A FOTO, SÓ MECHER NO VALOR DO BACKGROUND URL*/
    margin: auto;
    border: 2px solid black; 
    border-radius:12px;
    height: 180px;

    width: 75%;
}

#imagens{
    border: 3px solid black; 
    border-radius:12px;
}


div#divAnuncio001 ul#ulAnuncio001 {
    font-size: 10px;
    background-color: white;
    border-radius:12px;
    float: right;
    width: 50%;
    height: 100%;

}




div#divAnuncio001 ul#ulAnuncio001 a#aAnuncio001nome { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

div#divAnuncio001 ul#ulAnuncio001 a#aAnuncio001endereco { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
div#divAnuncio001 ul#ulAnuncio001 a#aAnuncio001contato { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}





/*DIV002*/


div#divAnuncio002 { /*ESTE É O DIVI ONDE SERÁ ALTERADA A FOTO, SÓ MECHER NO VALOR DO BACKGROUND URL*/
    margin: auto;
    border: 2px solid black; 
    border-radius:12px;
    height: 180px;
    background: url('../imgs/anuncio002.png');
    background-size: 384px 200px;
    width: 75%;
}



div#divAnuncio002 ul#ulAnuncio002 {
    font-size: 10px;
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;

}




div#divAnuncio002 ul#ulAnuncio002 a#aAnuncio002nome { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

div#divAnuncio002 ul#ulAnuncio002 a#aAnuncio002endereco { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
div#divAnuncio002 ul#ulAnuncio002 a#aAnuncio002contato { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}



/*DIV003*/

div#divAnuncio003 { /*ESTE É O DIVI ONDE SERÁ ALTERADA A FOTO, SÓ MECHER NO VALOR DO BACKGROUND URL*/
    margin: auto;
    border: 2px solid black; 
    border-radius:12px;
    height: 180px;
    background: url('../imgs/anuncio003.png');
    background-size: 384px 200px;
    width: 75%;
}



div#divAnuncio003 ul#ulAnuncio003 {
    font-size: 10px;
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;

}




div#divAnuncio003 ul#ulAnuncio003 a#aAnuncio003nome { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

div#divAnuncio003 ul#ulAnuncio003 a#aAnuncio003endereco { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
div#divAnuncio003 ul#ulAnuncio003 a#aAnuncio003contato { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

#descricao{
    width: 100px;
    float: left;
}



.footer{ /*{ BOTAO DE VOLTAR*/
    position:absolute;
    bottom:0;
    width:100%;
}