html{
	height: 100%;
	width: 100%;
}
/*BODY*/
body{
	background: url('../imgs/baner.jpg') no-repeat ;
    position: relative;        
    width: 100%;            
    height: 100%;       
    font-family: optica;


}

/*CONTAINER E ROW*/
#busca1{ /*ESSE É DO DIVI QUE ESTÁ INVI */
	visibility: hidden;
	margin-right: 110px;
	height: 200px;
}



.container-fluid{
padding: 20px;

word-wrap: break-word;


}

.row{

	padding: 5px;
}

/*EXIBICAO DA BUSCA DO ANUNCIO E DO TEXTO*/
#busca{
	border: black solid 3px;
	background-color: white;
	margin-right: 110px;
	height: 200px;
	overflow: auto;
	border-radius:22px;
	

}
#anuncio{
	border: black solid 1px;
	background: url('../imgs/anuncio001.png') no-repeat;
	background-size: 384px 200px;
	height: 180px;
	border-radius:5px;

}
#Atexto{
	background-color: white;
	height: 180px;
	font-size: 20px;
	border-radius:5px;
	border: black solid 1px;
}
/*TEXTO ESCRITO EXIBINDO RESULTADOS*/
#textoResultados{
	color: white;
	font-size: 20px;

}
/*LOGO DO SITE*/
#logoSite{

	width: 18%;
	height: 20%;  

}
/*ESPACO INVI PARA DAR O ESPACO QUE TEM ANTES POR CAUSA DO MENU*/

#espaco{
	height: 220px;	
}

