html{
	height: 100%;
	width: 100%;
}
/*BODY*/
body{
	background: url('../imgs/baner.jpg') no-repeat ;
    position: relative;        
    width: 100%;            
    height: 100%;       
    font-family: optica;


}

/*CONTAINER E ROW*/
#busca1{ /*ESSE É DO DIVI QUE ESTÁ INVI */
	visibility: hidden;
	margin-right: 110px;
	height: 200px;
}


<<<<<<< HEAD
=======

div#divFiltro {

	background-color: white;
	float: left;
	border: 1px solid black; 
	 border-radius:12px;
	width: 200px;
	height: 350px;
}
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0

.container-fluid{
padding: 20px;

<<<<<<< HEAD
word-wrap: break-word;
=======
div#divFiltro ul#ulFiltrocidade a#afiltroFormiga { /*FILTRO DE FORMIGA ID*/
	font-family: optima;
	font-size: 18px;
	width: 130px;
	
}
div#divFiltro ul#ulFiltropreco a#afiltroPreco { /*FILTRO DE 150 A 300 ID*/
	font-family: optima;
	font-size: 18px;

} 

>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0


<<<<<<< HEAD
=======
div#divAnuncio001 { /*ESTE É O DIVI ONDE SERÁ ALTERADA A FOTO, SÓ MECHER NO VALOR DO BACKGROUND URL*/
	margin: auto;
	border: 2px solid black; 
	 border-radius:12px;
	height: 180px;
	background: url('../imgs/anuncio001.png');
	background-size: 384px 200px;
	width: 75%;
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0
}

.row{

<<<<<<< HEAD
	padding: 5px;
=======

div#divAnuncio001 ul#ulAnuncio001 {
	font-size: 10px;
	background-color: white;
	 border-radius:12px;
	float: right;
	width: 50%;
	height: 100%;

>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0
}

/*EXIBICAO DA BUSCA DO ANUNCIO E DO TEXTO*/
#busca{
	border: black solid 3px;
	background-color: white;
	margin-right: 110px;
	height: 200px;
	overflow: auto;
	border-radius:22px;
	

<<<<<<< HEAD
}
#anuncio{
	border: black solid 1px;
	background: url('../imgs/anuncio001.png') no-repeat;
	background-size: 384px 200px;
	height: 180px;
	border-radius:5px;

}
#Atexto{
	background-color: white;
	height: 180px;
=======


div#divAnuncio001 ul#ulAnuncio001 a#aAnuncio001nome { 
	font-family: optima;
	font-size: 20px;
	color: black;
}

div#divAnuncio001 ul#ulAnuncio001 a#aAnuncio001endereco { 
	font-family: optima;
	font-size: 20px;
	color: black;
}
div#divAnuncio001 ul#ulAnuncio001 a#aAnuncio001contato { 
	font-family: optima;
	font-size: 20px;
	color: black;
}





/*DIV002*/


div#divAnuncio002 { /*ESTE É O DIVI ONDE SERÁ ALTERADA A FOTO, SÓ MECHER NO VALOR DO BACKGROUND URL*/
	margin: auto;
	border: 2px solid black; 
	 border-radius:12px;
	height: 180px;
	background: url('../imgs/anuncio002.png');
	background-size: 384px 200px;
	width: 75%;
}



div#divAnuncio002 ul#ulAnuncio002 {
	font-size: 10px;
	background-color: white;
	float: right;
	width: 50%;
	height: 100%;

}




div#divAnuncio002 ul#ulAnuncio002 a#aAnuncio002nome { 
	font-family: optima;
	font-size: 20px;
	color: black;
}

div#divAnuncio002 ul#ulAnuncio002 a#aAnuncio002endereco { 
	font-family: optima;
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0
	font-size: 20px;
	border-radius:5px;
	border: black solid 1px;
}
<<<<<<< HEAD
/*TEXTO ESCRITO EXIBINDO RESULTADOS*/
#textoResultados{
	color: white;
=======
div#divAnuncio002 ul#ulAnuncio002 a#aAnuncio002contato { 
	font-family: optima;
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0
	font-size: 20px;

<<<<<<< HEAD
=======
div#divAnuncio003 { /*ESTE É O DIVI ONDE SERÁ ALTERADA A FOTO, SÓ MECHER NO VALOR DO BACKGROUND URL*/
	margin: auto;
	border: 2px solid black; 
	 border-radius:12px;
	height: 180px;
	background: url('../imgs/anuncio003.png');
	background-size: 384px 200px;
	width: 75%;
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0
}
/*LOGO DO SITE*/
#logoSite{

<<<<<<< HEAD
	width: 18%;
	height: 20%;  
=======


div#divAnuncio003 ul#ulAnuncio003 {
	font-size: 10px;
	background-color: white;
	float: right;
	width: 50%;
	height: 100%;
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0

}
/*ESPACO INVI PARA DAR O ESPACO QUE TEM ANTES POR CAUSA DO MENU*/

<<<<<<< HEAD
#espaco{
	height: 220px;	
}

=======



div#divAnuncio003 ul#ulAnuncio003 a#aAnuncio003nome { 
	font-family: optima;
	font-size: 20px;
	color: black;
}

div#divAnuncio003 ul#ulAnuncio003 a#aAnuncio003endereco { 
	font-family: optima;
	font-size: 20px;
	color: black;
}
div#divAnuncio003 ul#ulAnuncio003 a#aAnuncio003contato { 
	font-family: optima;
	font-size: 20px;
	color: black;
}
>>>>>>> bea772cbdfe06eea694c61883b54f5c0933da0f0
